/*----------------HACKS----------------*/

/*Sposób na to, by zaznaczaćw menu stronę, która aktualnie jest podświetlona.
  Dzięki temu możemy stosować taki sam header w każdej podstronie.
  */
.glowna #head-wrapper nav .nav-1-link a,
.oprojekcie #head-wrapper nav .nav-2-link a,
.newsy #head-wrapper nav .nav-3-link a {
	border: 0;
	color: #fff;
	background: #000;
}

/*----------------Ogólne----------------*/


.link1 {
	color: #178DB9;
	text-decoration: none;	
	font-weight: bold;
}

.link1:hover {
	color: #000;	
}
.link2 {
	color: #fff;
	text-decoration: underline;
}

.link2:hover {
	color: #d5d5d5;	
}
.link3 {
	color: #178DB9;
}

.link3:hover {
	color: #000;	
}
.link4 {
	color: #8d8d8d;
}

.link4:hover {
	color: #000;	
}

.link-right {
	float: right;	
}

#head-wrapper {
	margin: auto;
	width: 980px;
	padding-top: 20px;
}

#head-wrapper h1 {
	font-size: 24px;
	margin: 10px;
}

#head-wrapper nav {
	margin: 10px 0 0;
	width: 980px;
	float: right;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

#head-wrapper nav ul {
	margin: 0;
	float: left;
}

#head-wrapper nav li {
	border-right: 1px solid #333;
	float: left;
	position: relative;
}

#head-wrapper nav li a.first {
	margin-left: 0;
	border: 0;
}

#head-wrapper nav li a {
	display: block;
	position: relative;
	text-decoration: none;
	padding: 20px 12px;
}

#head-wrapper nav li a:hover {
	border: 0;
	color: #fff;
	background: #000;
}

.wyloguj {
	float: right;
	display: block;
	position: relative;
	text-decoration: none;
	padding: 20px 12px;
}

.wyloguj:hover {
	border: 0;
	color: #fff;
	background: #000;
}

#site-wrapper {
	clear: both;
	width: 980px;
	padding: 10px;
	margin: auto;
	overflow: auto;
}

#content {
	float: left;
	width: 659px;
	min-height: 500px;
	padding: 10px;
	border-right: 1px solid #000;
}

#content h2 {
	font-size: 28px;
	color: #000;
	margin: 0 0 10px;
}

#site-sidebar {
	width: 280px;
	padding: 10px;
	float: right;
	color: #000;
	line-height: 20px;
}

#site-sidebar h3 {
	font-size: 20px;
	color: #000;
	margin: 0 0 5px;
}

.sidebar-box {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #9c9c9c;
	overflow: auto;
}

#footer-wrapper {
	position: relative;
	top: -3px;
	margin: auto;
	padding: 5px 10px;
	width: 970px;
	background: #ebebeb;
	border-top: 3px solid #c0c0c0;
	overflow: auto;
}

/*----------------O projekcie----------------*/
.oprojekcie-form {
	overflow: auto;
}

.oprojekcie-form label {
	margin: 0 0 5px;
	font-size: 20px;
	display: block;
}

.oprojekcie-form textarea {
	width: 640px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
}

.oprojekcie-form-button {
	margin: 10px 0;
	float: right;	
}

.oprojekcie-preview h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000;
	margin-bottom: 15px;
}

.oprojekcie-preview pre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	line-height: 20px;
}

/*----------------Kadra projektu, Raporty projektu, Linki projektu----------------*/
.linki-form,
.raporty-form,
.kadra-form, 
.news-form,
.galeria-form{
	margin-bottom: 30px;
}

.linki-form div,
.raporty-form div,
.kadra-form div,
.news-form div,
.galeria-form div {
	margin: 10px 0;	
	clear: both;
	overflow: auto;	
}

.linki-form label,
.raporty-form label,
.kadra-form label,
.news-form label,
.galeria-form label {
	padding: 4px 0;
	width: 150px;
	float: left;
	display: block;
}

.linki-form input,
.raporty-form input,
.kadra-form input,
.news-form input,
.galeria-form input {
	float: left;
	width: 240px;
	padding: 0 5px;	
	height: 24px;
	font-size: 13px;
	border: 1px solid b3b3b3;	
}

.linki-form textarea,
.raporty-form textarea,
.kadra-form textarea,
.news-form textarea {
	float: left;
	width: 480px;
	padding: 5px;
	font-size: 13px;
	border: 1px solid b3b3b3;
}

.linki-form input.linki-form-button,
.raporty-form input.raporty-form-button,
.kadra-form input.kadra-form-button,
.news-form input.news-form-button {
	margin-left: 150px;
	width: 70px;	
	height: 28px;
}

.galeria-form input.galerie-form-button {
	width: 150px;
	float: right;
}

.raporty-form div p,
.news-form div p,
.galeria-form p {
	font-size: 13px;
	padding: 7px;
	float: left;
}

.zadania-kadry {
	margin: 10px 0; 
	list-style: none;	
}

.zadania-kadry li {
	margin: 5px 0;	
}

.zadania-kadry span {
	display: inline-block;
	width: 150px;
}

.kadra-podglad article {
	overflow: auto;
	border-bottom: 1px solid #999;
	margin: 10px 0;
}

.kadra-podglad h3{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000;
	margin: 10px 0;
}

.kadra-podglad h4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}

.kadra-podglad p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	line-height: 20px;
}

.kadra-podglad p.tytul-naukowy{
	margin-bottom: 10px;
}

.kadra-zdjecie {
	float: left;
	border: 1px solid #888888;
	width: 98px;
	min-height: 100px;
	padding: 3px 3px 0;
	height-min: 50px;
	margin: 0 10px 10px 0;
	background: url(../images/kadra-brak.png) no-repeat;
}

.kadra-options {
	clear: both;
	overflow: auto;
	margin: 20px 0 10px;
}

.kadra-delete {
	background: #FF8080;
	float: right;	
}


.link-baza,
.raport {
	margin: 10px 0;
	overflow: auto;	
	border-bottom: 1px dashed  #9c9c9c;
}

.link-baza h2,
.raport h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000;
}

.link-baza h3,
.raport h3 {
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 15px;
}

.raport time {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	color: #8d8d8d;	
}

.link-baza pre,
.raport pre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	margin: 10px 0;
}

.raport-download {
	float: right;
	margin: 0 10px;
}

.linki-options,
.raporty-options {
	margin: 10px 0 30px;	
}

.linki-options a,
.raporty-options a{
	margin-right: 15px;	
}

.linki-options div,
.raporty-options div {
	margin: 10px 0;	
	clear: both;
	overflow: auto;	
}

.linki-options input,
.raporty-options input {
	float: left;
	width: 260px;
	padding: 0 5px;	
	height: 24px;
	font-size: 13px;
	border: 1px solid b3b3b3;	
}

.raporty-options input.raporty-data {
	width: 120px;
}

.linki-options textarea,
.raporty-options textarea {
	float: left;
	width: 620px;
	padding: 5px;
	font-size: 13px;
	border: 1px solid b3b3b3;
}

.linki-options input.linki-form-button,
.raporty-options input.raporty-form-button {
	width: 70px;	
	height: 28px;
}

.raporty-options div p {
	font-size: 13px;
	padding: 7px;
	float: left;
}

.raporty-form p.warning {
	margin-left: 150px;
	clear: both;
	float: left;
	color: red;
	font-size: 11px;
	display: block;	
}

.newsy-preview {
	overflow: auto;	
	padding: 10px 0;
}

.news {
	overflow: auto;
	border-bottom: 1px dashed gray;
	margin: 10px 0;
}

.newsy-preview h3 {
	font-family: Georgia, Helvetica, sans-serif;
	font-size: 15px;
	color: #000;
}

.newsy-preview time {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	color: #8d8d8d;
	margin-bottom: 5px;
	display: block;	
}

.newsy-prieview p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000;
	line-height: 20px;	
}

.dodane-zdjecia {
	padding: 10px 0;
	overflow: auto;
	border-top: 1px dashed gray;
	border-bottom: 1px dashed gray;
}

.dodane-zdjecia div {
	float: left;
	padding: 10px;
	margin: 10px;
	clear: none;
	border: 1px solid gray;
}

.dodane-zdjecia a {
	margin-bottom: 10px;
	text-align: right;
	display: block;
}

.galeria {
	padding: 10px 0;
	overflow: auto;
}

.galeria div {
	float: left;
	padding: 10px;
	margin: 10px;
	clear: none;
	border: 1px solid gray;
	height: 100px;
	width: 100px;
}