<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Database Configuration -->
	<import resource="classes/config/spring/beans/DataSource.xml" />
	<import resource="classes/config/spring/beans/HibernateSessionFactory.xml" />

	<!-- Beans Declaration -->
	<import resource="classes/xml/aboutProject/spring/AboutProjectBean.xml" />
	<import resource="classes/xml/aboutProject/spring/EmployeeBean.xml" />
	<import resource="classes/xml/aboutProject/spring/LinkBean.xml" />
	<import resource="classes/xml/aboutProject/spring/PositionBean.xml" />
	<import resource="classes/xml/aboutProject/spring/ReportBean.xml" />
	<import resource="classes/xml/gallery/spring/GalleryBean.xml" />
	<import resource="classes/xml/gallery/spring/PhotoBean.xml" />
	<import resource="classes/xml/news/spring/NewsBean.xml" />
</beans>